<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Oh, for Fox sake...</h1>
    <p>A quick comparison of headlines about the US President on Fox News, 8 years ago versus today.</p>
    <p>Days since the start of the presidency: <span style="font-weight: bold"> <%= daysSinceStartOfPresidency %></span></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Obama - <%= obamaDate %></h2>
      <ul>
        <% obamaHeadlines.forEach(function(headline) {%>
          <li><a href="<%= headline.url %>"><%= headline.title %></a></li>
        <% }); %>   
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Trump - <%= trumpDate %></h2>
      <ul>
        <% trumpHeadlines.forEach(function(headline) {%>
          <li><a href="<%= headline.url %>"><%= headline.title %></a></li>   
        <% }); %>   
        </ul>
    </div>
  </div>
</div>
</body>
</html>
